Try50/WebContent/wsdl/AddService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://aos" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://aos" xmlns:intf="http://aos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://aos" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="myload">
    <complexType/>
   </element>
   <element name="myloadResponse">
    <complexType>
     <sequence>
      <element name="myloadReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="add">
    <complexType/>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="myloadRequest">

      <wsdl:part element="impl:myload" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="myloadResponse">

      <wsdl:part element="impl:myloadResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AddService">

      <wsdl:operation name="myload">

         <wsdl:input message="impl:myloadRequest" name="myloadRequest">

       </wsdl:input>

         <wsdl:output message="impl:myloadResponse" name="myloadResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddServiceSoapBinding" type="impl:AddService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="myload">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="myloadRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="myloadResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddServiceService">

      <wsdl:port binding="impl:AddServiceSoapBinding" name="AddService">

         <wsdlsoap:address location="http://localhost:8080/Try50/services/AddService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
